extends layouts/main-layout.pug
block title 
    title Shop
block content

    if prods.length>0
        main 
            .grid 
                each product in prods
                    article.card.product-item
                        header.card-header 
                            h1.product-title #{product.title}
                        .card__image 
                            img(src="https://leverageedublog.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2019/09/23165047/Importance-of-Books.jpg", alt="Book")
                        .card__content
                            h2.product__price 
                            p.product__description A very interesting book about so many even more interesting things!
                        .card__actions 
                            button.btn Add to Cart
    else 
        main 
            h1 No products in here